.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
} 
#Footer{
    background-color: black;
    color: white;
    height: 50px;
    font-size: medium;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0 -6px 5px -5px #454;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

::placeholder {
  color: black;
}
h4 {
  color: red;
}
#post {
  text-align: center;
}